.wrapper{
    width: 420px;
    background:#B5C0B5;
   border-radius:10px ;
   padding: 30px 40px;
    opacity: 70%;
}

.wrapper h1{
    font-size: 36px;
    text-align: center;
    opacity: 100%!;
    
    
    
}

.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
    display: flex; /* Enable Flexbox */
    justify-content: center; /* Center children horizontally */
    align-items: center; /* Center children vertically */
  
}

.input-box input{
    width: 80%; /* Reduced width to 80% of the parent container */
    height: 35px; /* Adjusted height to 35px */
    background: transparent;
    border: 2px solid black; 
    
    border: 2px solid rgba(255, 255,255, .2);
    border-radius: 40px;
    font-size: 14px; /* Adjusted font size to match the reduced height */
    color: #ffff;
    padding: 10px 30px; /* Adjusted padding to accommodate the reduced height */
}


.input-box input::placeholder{
   color: black;
    padding: 10px; 
    opacity: 100%!;/*this will be foropacity arrangement*/
}

.wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
    opacity: 100%!;

}

.remember-forgot label input{
    accent-color: #ffff;
    margin-right:4px ;
    opacity: 100%!;
}

.remember-forgot a{
    color:black;
    text-decoration: none;
    opacity: 100%!;

}

.remember-forgot a:hover{
    text-decoration: underline;
}

.wrapper button{
    width:100%;
    height: 45px;
    background: #055b3a;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0,0, .1);
    cursor: pointer;
    color:#f4efef;

    font-weight: 700;
    opacity: 100%!;
    border-top: 20px;

}

.wrapper .register-link{
    
    font-size: 14.5px;
    text-align: center;
    margin:20px 0 15px ;
    opacity: 100%!;
}

.x{
    color:black;
    text-decoration: none;
    font-weight: 500;
    font-size:20px;
    opacity: 100%!;
}

.register-link p a:hover{
    text-decoration: underline;
}

.major{
  display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   background:#010010;
   background-size: cover;
   background-position:center ;
}


.xx{
    border-top: 10px;

}

.input-box input:focus {
    border: 2px solid black; /* Sets the border to 2px wide, solid, and black */
}

