body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background:#010010;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    width: 500px;
    padding: 20px;
    background-color: #B5C0B5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
}

.input-field {
    margin-bottom: 10px;
}

.input-field input {
    width: 300px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 40px;
    font-size: 16px;
}

button {
    padding: 20px 40px;
    background-color: #070808;
    color: white;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

/* Existing CSS */

/* Add this to style the file input field */
.input-field input[type="file"]::file-selector-button {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 40px;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
}

/* Existing CSS */

